body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 10px 0;
}

main {
    margin-top: 20px;
}

.qr-input-container {
    margin: 20px;
}

#qrInput {
    padding: 10px;
    width: 70%;
    margin-right: 10px;
    display: none;

}

#generateBtn {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

.qr-code-container {
    margin-top: 20px;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 10px 0;
}

.invalid-url-text {
    font-size: 24px;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 10px;
    width: 70%;
    margin-right: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
}


